body{
 /* background-image: url(../images/bg2.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.wrapper{
  background-color: orange;
  padding-left: 8%;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  margin-bottom: 10%;
  width: 80%;
  height: 55%;
}


.heading{
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 1%;
  width: 80%;
}


header{
    padding-top: 3%;
    text-align: center;
    background-color: orange;
    width: 85%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 50px;
    font-weight: inherit;
    color: black;

}

nav{

    text-align: center;
    background-color: orange;
    height: 10px;
    margin-bottom: 3%;
}


#start{
  font-family: Courier, Monaco, monospace;
  text-align: center;
  width: 23%;
  height: 10%;
  margin-left: 22%;
  margin-top: 4%;
  font-size: 20px;
}

#quiz{
  font-family: Courier, Monaco, monospace;
  font-size: 20px;
  padding-bottom: 14%;
}

/*.modal-header {
        background-color: #E7717D;
        text-align: center !important;
        color: #fff !important;
    }

    .modal-body {
    background-color: ;
    text-align: center !important;
    }*/
